<div class="carousel-wrapper">
  <article class="carousel" #carousel>
    <ul class="slides-container" #slides>
        <li class="carousel-slide" *ngFor="let _ of getNumberOfSlidesAsArray(); index as i">
          <ng-container *ngFor="let __ of getNumberOfItemsPerSlideAsArray(); index as j">

            <div class="item" *ngIf="carouselData[i * numberOfItemsPerSlide + j] as value">
              <img class="thumbnail" [src]="value.thumbnailPath" alt="">
              <div class="text-wrapper">
                <p class="title">{{value.title}}</p>
                <p class="since">há {{value.postedAt.toString() | daysFromNow}} dias</p>
              </div>
            </div>

          </ng-container>

        </li>
    </ul>

  </article>
  <button class="previous" (click)="previousSlide()">
      <svg width="12" height="20" viewBox="0 0 12 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M10 2L2 10L10 18" stroke="black" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>

  </button>
  <button class="next" (click)="nextSlide()">
      <svg width="12" height="20" viewBox="0 0 12 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M2 2L10 10L2 18" stroke="black" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>

  </button>
  <div class="slide-trackers" #trackers (click)="trackersClick($event)">
    <div class="tracker" *ngFor="let slide of getNumberOfSlidesAsArray(); index as i" [class.active]="currentItemIndex === i"></div>
  </div>

</div>
