<div class="carousel-wrapper">
  <article class="carousel" #carousel>
    <ul class="slides-container" #slides>
        <li class="carousel-slide">
          <div class="item">
            <img class="thumbnail" src="assets/images/blue-orange.png" alt="">
            <div class="text-wrapper">
              <p class="title">Paulo Alves em alta pela terceira vez no “Sunset of Dreams”</p>
              <p class="since">há 10 minutos</p>
            </div>
          </div>

          <div class="item">
            <img class="thumbnail" src="assets/images/rainbow-wall.png" alt="">
            <div class="text-wrapper">
              <p class="title">Paulo Alves em alta pela terceira vez no “Sunset of Dreams”</p>
              <p class="since">há 10 minutos</p>
            </div>
          </div>

          <div class="item">
            <img class="thumbnail" src="assets/images/multiple-orange-like.png" alt="">
            <div class="text-wrapper">
              <p class="title">Paulo Alves em alta pela terceira vez no “Sunset of Dreams”</p>
              <p class="since">há 10 minutos</p>
            </div>
          </div>
        </li>

        <li class="carousel-slide">
          <div class="item">
            <img class="thumbnail" src="assets/images/blue-orange.png" alt="">
            <div class="text-wrapper">
              <p class="title">Paulo Alves em alta pela terceira vez no “Sunset of Dreams”</p>
              <p class="since">há 10 minutos</p>
            </div>
          </div>

          <div class="item">
            <img class="thumbnail" src="assets/images/rainbow-wall.png" alt="">
            <div class="text-wrapper">
              <p class="title">Paulo Alves em alta pela terceira vez no “Sunset of Dreams”</p>
              <p class="since">há 10 minutos</p>
            </div>
          </div>

        <div class="item">
          <img class="thumbnail" src="assets/images/multiple-orange-like.png" alt="">
          <div class="text-wrapper">
            <p class="title">Paulo Alves em alta pela terceira vez no “Sunset of Dreams”</p>
            <p class="since">há 10 minutos</p>
          </div>
        </div>
      </li>

      <li class="carousel-slide">
        <div class="item">
          <img class="thumbnail" src="assets/images/blue-orange.png" alt="">
          <div class="text-wrapper">
            <p class="title">Paulo Alves em alta pela terceira vez no “Sunset of Dreams”</p>
            <p class="since">há 10 minutos</p>
          </div>
        </div>

        <div class="item">
          <img class="thumbnail" src="assets/images/rainbow-wall.png" alt="">
          <div class="text-wrapper">
            <p class="title">Paulo Alves em alta pela terceira vez no “Sunset of Dreams”</p>
            <p class="since">há 10 minutos</p>
          </div>
        </div>

        <div class="item">
          <img class="thumbnail" src="assets/images/multiple-orange-like.png" alt="">
          <div class="text-wrapper">
            <p class="title">Paulo Alves em alta pela terceira vez no “Sunset of Dreams”</p>
            <p class="since">há 10 minutos</p>
          </div>
        </div>
      </li>

      <li class="carousel-slide">
        <div class="item">
          <img class="thumbnail" src="assets/images/blue-orange.png" alt="">
          <div class="text-wrapper">
            <p class="title">Paulo Alves em alta pela terceira vez no “Sunset of Dreams”</p>
            <p class="since">há 10 minutos</p>
          </div>
        </div>

        <div class="item">
          <img class="thumbnail" src="assets/images/rainbow-wall.png" alt="">
          <div class="text-wrapper">
            <p class="title">Paulo Alves em alta pela terceira vez no “Sunset of Dreams”</p>
            <p class="since">há 10 minutos</p>
          </div>
        </div>

        <div class="item">
          <img class="thumbnail" src="assets/images/multiple-orange-like.png" alt="">
          <div class="text-wrapper">
            <p class="title">Paulo Alves em alta pela terceira vez no “Sunset of Dreams”</p>
            <p class="since">há 10 minutos</p>
          </div>
        </div>
      </li>

      <li class="carousel-slide">
        <div class="item">
          <img class="thumbnail" src="assets/images/blue-orange.png" alt="">
          <div class="text-wrapper">
            <p class="title">Paulo Alves em alta pela terceira vez no “Sunset of Dreams”</p>
            <p class="since">há 10 minutos</p>
          </div>
        </div>

        <div class="item">
          <img class="thumbnail" src="assets/images/rainbow-wall.png" alt="">
          <div class="text-wrapper">
            <p class="title">Paulo Alves em alta pela terceira vez no “Sunset of Dreams”</p>
            <p class="since">há 10 minutos</p>
          </div>
        </div>

        <div class="item">
          <img class="thumbnail" src="assets/images/multiple-orange-like.png" alt="">
          <div class="text-wrapper">
            <p class="title">Paulo Alves em alta pela terceira vez no “Sunset of Dreams”</p>
            <p class="since">há 10 minutos</p>
          </div>
        </div>
      </li>
    </ul>

  </article>
  <button class="previous" (click)="previousSlide()">
      <svg width="12" height="20" viewBox="0 0 12 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M10 2L2 10L10 18" stroke="black" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>

  </button>
  <button class="next" (click)="nextSlide()">
      <svg width="12" height="20" viewBox="0 0 12 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M2 2L10 10L2 18" stroke="black" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>

  </button>
  <div class="slide-trackers" #trackers (click)="trackersClick($event)">
      <div class="tracker" *ngFor="let slide of arrayOfSize(slidesAmount); index as i" [class.active]="currentItemIndex === i"></div>

  </div>

</div>
