<div class="news-wrapper">
  <div class="slider">
    <article class="news">
      <img
        class="news-thumbnail"
        src="assets/images/gilmario.jpg"
        alt="gilmario_vemba"
      />
      <div class="abs">
        <h2 class="news-title">
          Popularidade de Gilmário dispara em Portugal: Artista angolano chega
          ao FOX Comedy
        </h2>
        <div class="flex">
          <div class="tag">#entretenimento</div>

          <app-publishing-details
          authorPhotoPath="assets/images/smilling-1.jpg"
          authorName="@mariano_fonseca"
          since=" - há 5 dias"
          textColor="light"
          ></app-publishing-details>
        </div>

        <button class="read-news green-button">
          Ler notícia
          <img class="export-icon" src="assets/icons/export.png" alt="" />
        </button>
      </div>

      <div class="dark-overlay"></div>
    </article>
  </div>

  <section class="more-news">
    <ng-container *ngFor="let singleNews of news; last as lastItem">
      <div class="single-news">
        <img
          class="single-news-thumbnail"
          [src]="singleNews.imagePath"
          alt=""
        />
        <div class="single-news-text">
          <h5 class="single-news-title">{{ singleNews.title }}</h5>
          <app-publishing-details
          authorName="Mariano Fonseca"
          [since]="singleNews.since"
          ></app-publishing-details>

        </div>
      </div>
      <div class="hr" *ngIf="!lastItem"></div>
    </ng-container>
    <a class="next-link" routerLink="">Próximo</a>
  </section>
</div>

<section class="top-news">
  <div class="top-news-title">
    <img
      class="top-news-title-icon"
      src="assets/icons/noticias-em-destaque.png"
      alt=""
    />
    <h2 class="top-news-title-text">Notícias em destaque</h2>
  </div>

  <section class="top-news-slideshow">
    <article *ngFor="let topNew of topNews" class="top-new">
      <img class="top-new-thumbnail" [src]="topNew.imagePath" />
      <div class="top-new-details">
        <div class="top-new-title">{{ topNew.title }}</div>

        <div class="top-new-postDate">
          <img
            class="black-clock-icon"
            src="assets/icons/black-clock.png"
            alt=""
          />
          <span>{{ topNew.since }}</span>
        </div>
      </div>
    </article>
  </section>
</section>

<article class="advertisement-wrapper">
  <p class="advertisement-label">Publicidade</p>
  <div class="advertisement">
    <div class="advertisement-content">
      <h2 class="advertisement-content-title">
        As melhores experiências somente no Radar Kianda
      </h2>
      <button class="advertisement-cta">Ir para linha de contacto</button>
    </div>
  </div>
</article>

<section class="music-news">
  <h1 class="music-news-title">
    <img
      src="assets/icons/music.png"
      alt="music-icon"
      class="music-news-title-icon"
    />
    <span class="music-news-title-text">MÚSICA</span>
  </h1>
  <section class="floating-options">
    <div class="see">
      <span>Visualizar</span>
      <div class="options">

        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M21 9V18C21 18.9428 21 19.4142 20.7071 19.7071C20.4142 20 19.9428 20 19 20H15" stroke="#010408" stroke-linecap="round"/>
          <path d="M3 9V18C3 18.9428 3 19.4142 3.29289 19.7071C3.58579 20 4.05719 20 5 20H9" stroke="#010408" stroke-linecap="round"/>
          <path d="M15 20H9" stroke="#010408" stroke-linecap="round"/>
          <path d="M3 6C3 5.05719 3 4.58579 3.29289 4.29289C3.58579 4 4.05719 4 5 4H19C19.9428 4 20.4142 4 20.7071 4.29289C21 4.58579 21 5.05719 21 6V9H3V6Z" stroke="#010408" stroke-linecap="round"/>
          <path d="M3 15H21" stroke="#010408" stroke-linecap="round"/>
        </svg>
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M15 9H21V18C21 18.9428 21 19.4142 20.7071 19.7071C20.4142 20 19.9428 20 19 20H15V9Z" stroke="#010408" stroke-opacity="0.4" stroke-linecap="round"/>
          <path d="M3 9H9V20H5C4.05719 20 3.58579 20 3.29289 19.7071C3 19.4142 3 18.9428 3 18V9Z" stroke="#010408" stroke-opacity="0.4" stroke-linecap="round"/>
          <rect x="9" y="9" width="6" height="11" stroke="#999B9C" stroke-linecap="round"/>
          <path d="M3 6C3 5.05719 3 4.58579 3.29289 4.29289C3.58579 4 4.05719 4 5 4H19C19.9428 4 20.4142 4 20.7071 4.29289C21 4.58579 21 5.05719 21 6V9H3V6Z" stroke="#999B9C" stroke-linecap="round"/>
        </svg>
      </div>
    </div>
    <a routerLink="/news" class="see-all">Ver todas</a>
  </section>
  <div class="music-news-list">
    <ng-container *ngFor="let musicNew of musicNews">

      <app-music-news
        [thumbnailPath]="musicNew.thumbnailPath"
        [title]="musicNew.title"
        [publishingDetails]="musicNew.publishingDetails"
        [contentBody]="musicNew.contentBody">
      </app-music-news>

    </ng-container>
  </div>
</section>

<section class="entertainment-news">
  <h1 class="entertainment-news-title">
    <img
      src="assets/icons/entertainment.png"
      alt="entertainment-icon"
      class="entertainment-news-title-icon"
    />
    <span class="entertainment-news-title-text">ENTRETENIMENTO</span>
  </h1>
  <section class="floating-options">
    <a routerLink="/news" class="see-all">Ver todas</a>
  </section>
  <div class="entertainment-news-list">
    <ng-container *ngFor="let entertainmentNew of entertainmentNews">

      <app-entertainment-news
        [thumbnailPath]="entertainmentNew.thumbnailPath"
        [title]="entertainmentNew.title"
        [publishingDetails]="entertainmentNew.publishingDetails"
        [contentBody]="entertainmentNew.contentBody">
      </app-entertainment-news>

    </ng-container>
  </div>
</section>

<section class="lifestyle-news">
  <h1 class="lifestyle-news-title">
    <img
      src="assets/icons/lifestyle.png"
      alt="lifestyle-icon"
      class="lifestyle-news-title-icon"
    />
    <span class="lifestyle-news-title-text">LIFESTYLE</span>
  </h1>
  <section class="floating-options">
    <a routerLink="/news" class="see-all">Ver todas</a>
  </section>
  <div class="lifestyle-news-list">
    <ng-container *ngFor="let lifestyleNew of lifestyleNews">

      <app-lifestyle-news
        [thumbnailPath]="lifestyleNew.thumbnailPath"
        [title]="lifestyleNew.title"
        [publishingDetails]="lifestyleNew.publishingDetails"
        [contentBody]="lifestyleNew.contentBody">
      </app-lifestyle-news>

    </ng-container>
  </div>
</section>

<section class="marks">
  <h1 class="marks-title">
    <img
      src="assets/icons/marks.png"
      alt="marks-icon"
      class="marks-title-icon"
    />
    <span class="marks-title-text">MARCAS</span>
  </h1>
  <section class="floating-options">
    <a routerLink="/news" class="see-all">Ver todas</a>
  </section>

  <div class="marks-flex-container">
    <div class="marks-list">
      <app-marks-card *ngFor="let marks of marks"
        [type]="'opinion'"
        [thumbnailPath]="marks.thumbnailPath"
        [title]="marks.title"
        [publishingDetails]="marks.publishingDetails"
        [contentBody]="marks.contentBody"
      ></app-marks-card>
    </div>
    <div class="ads">
      <div class="ad-wrapper-1">
        <p class="ad-text">Publicidade</p>
        <div class="ad-1"></div>
      </div>
      <div class="ad-wrapper-2">
        <p class="ad-text">Publicidade</p>
        <div class="ad-2"></div>
      </div>
      <div class="ad-wrapper-3">
        <p class="ad-text">Publicidade</p>
        <div class="ad-3"></div>
      </div>
    </div>
  </div>

</section>

<section class="opinion">
  <h1 class="opinion-title">
    <img
      src="assets/icons/marks.png"
      alt="opinion-icon"
      class="opinion-title-icon"
    />
    <span class="opinion-title-text">OPINIÃO</span>
  </h1>
  <section class="floating-options">
    <a routerLink="/news" class="see-all">Ver todas</a>
  </section>

  <div class="opinion-flex-container">
    <div class="other-opinions-list">
      <app-marks-card *ngFor="let opinion of opinions"
        [type]="'opinion'"
        [thumbnailPath]="opinion.thumbnailPath"
        [title]="opinion.title"
        [publishingDetails]="opinion.publishingDetails"
        [contentBody]="opinion.contentBody"
      ></app-marks-card>
    </div>
    <div class="ads">
      <div class="ad-wrapper-1">
        <p class="ad-text">Publicidade</p>
        <div class="ad-1"></div>
      </div>
      <div class="ad-wrapper-2">
        <p class="ad-text">Publicidade</p>
        <div class="ad-2"></div>
      </div>
      <div class="ad-wrapper-3">
        <p class="ad-text">Publicidade</p>
        <div class="ad-3"></div>
      </div>
    </div>
  </div>

</section>

<footer>
  <div class="footer-flex-container">
    <div class="wrapper">
      <h3 class="footer-title">Radar Kianda</h3>
      <p class="footer-text">
        Radar Kianda é um portal de referência em Angola, com os principais conteúdos que marcam o universo da informação e do entretenimento.
      </p>
    </div>

    <div class="wrapper">

      <div class="footer-title">
        <h3>Newsletter</h3>
        <p class="footer-text">
          Receba todas  as novidades em primeira mão
        </p>
        <input type="text" placeholder="Endereço de email">
        <button class="sign-btn">Assinar</button>
      </div>
    </div>
  </div>
  <div class="hr"></div>
  <section class="footer-links">
    <div>

      <ul>
        <li><a routerLink="">Notícias</a></li>
        <li><a routerLink="">Música</a></li>
        <li><a routerLink="">Entretenimento</a></li>
        <li><a routerLink="">Lifestyle</a></li>
        <li><a routerLink="">Marcas</a></li>
        <li><a routerLink="">Opinião</a></li>
      </ul>
      Contactos: <span class="email-address">contactos@radarkianda.com</span>
    </div>
    <div class="social">
      Siga-nos
      <img src="assets/icons/fb-icon.png" alt="">
      <img src="assets/icons/insta-icon.png" alt="">
    </div>
  </section>
  <p class="copyright">Copyright © 2022 Radar Kianda. Todos os direitos reservados.</p>
</footer>
