<article class="entertainment-new">
  <img
    [src]="thumbnailPath"
    alt=""
    class="entertainment-new-thumbnail"
  />
  <div class="entertainment-new-content">
    <h4 class="entertainment-new-content-title">
      <a routerLink="/news">{{title}}</a>
    </h4>
    <app-publishing-details
        [type]="'entertainment'"
        [authorPhotoPath]="publishingDetails.authorPhotoPath"
        [authorName]="publishingDetails.authorName"
        [since]="publishingDetails.since"
        viewsIconPath="assets/icons/views-metal.png"
        [views]="publishingDetails.views"
        commentsIconPath="assets/icons/comments-metal.png"
        [comments]="publishingDetails.comments">
    </app-publishing-details>
    <p class="entertainment-new-content-body">
      {{contentBody}}
    </p>
  </div>
</article>
