<article class="news">
  <div>
    <img
      [src]="thumbnailPath"
      alt=""
      class="news-thumbnail"
    />
  </div>
  <div class="news-content">
    <h4 class="news-content-title">
      <a routerLink="/news"
      [class.type-music]="type === 'Music'"
      [class.type-entertainment]="type === 'Entertainment'"
      [class.type-lifestyle]="type === 'Lifestyle'"
      [class.type-marks]="type === 'Mark'"
      >{{title}}</a>
    </h4>
    <app-publishing-details
        [authorName]="authorName"
        [postedAt]="postedAt"
        [views]="views"
        [comments]="comments">
    </app-publishing-details>
    <p class="content-body">
      {{content}}
    </p>
  </div>
</article>
