<article class="music-new">
  <img
    [src]="thumbnailPath"
    alt=""
    class="music-new-thumbnail"
  />
  <div class="music-new-content">
    <h4 class="music-new-content-title">
      <a routerLink="/news"
      [class.type-music]="type === 'music'"
      [class.type-entertainment]="type === 'entertainment'"
      [class.type-lifestyle]="type === 'lifestyle'"
      [class.type-marks]="type === 'marks'"
      >{{title}}</a>
    </h4>
    <app-publishing-details
        [authorName]="publishingDetails.authorName"
        [since]="publishingDetails.since"
        [views]="publishingDetails.views"
        [comments]="publishingDetails.comments">
    </app-publishing-details>
    <p class="content-body">
      {{contentBody}}
    </p>
  </div>
</article>
