@use '/src/assets/styles/colors' as c;

.news {
  display: flex;
  column-gap: 24px;
  // width: 80%;

  div:has(> .news-thumbnail) {
    width: 512px;
    height: 170px;
    overflow: hidden;
    border-radius: 4px;
  }

  .news-thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform .5s;

    &:hover {
      transform: scale(1.15);
    }
  }


  .news-content {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    color: rgba(0, 0, 0, .6);

    .news-content-title {
      font-weight: 600;
      // margin-bottom: 16px;

      a {
        color: #010408;
        text-decoration: none;
      }

      .type-music:hover {
        color: c.$music-color;
      }
      .type-entertainment:hover {
        color: c.$entertainment-color;
      }
      .type-lifestyle:hover {
        color: c.$lifestyle-color;
      }
      .type-marks:hover {
        color: c.$marks-color;
      }



    }
  }

}
