<header>
  <div class="top-image-background">
    <img
      class="top-image-woman"
      src="assets/images/top-image-woman.png"
      alt="no-image"
    />
  </div>
  <nav>
    <a routerLink="/"> <img class="radar" src="assets/images/radar.png" alt="" /></a>
    <ul>
      <li><a routerLink="news" class="current-active">Notícias</a></li>
      <li><a routerLink="music">Músicas</a></li>
      <li><a routerLink="entertainment">Entretenimento</a></li>
      <li><a routerLink="lifestyle">Lifestyle</a></li>
      <li><a routerLink="marks">Marcas</a></li>
      <li><a routerLink="opinion">Opinião</a></li>
      <li><img src="assets/icons/search-loupe.png" alt=""></li>
    </ul>
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>
