@use '../../../assets/styles/colors' as c;

header {
  font-weight: 600;

  .top-image-background {
    background: url(../../../assets/images/top-image-background.png) no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 250px;
    position: relative;
    overflow-y: hidden;

    .top-image-woman {
      width: 360px;
      margin-left: 12%;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  nav {
    padding: 28px 60px;
    display: flex;
    align-items: center;
    column-gap: 125.39px;
    box-shadow: 20px 20px 80px -10px rgba(0, 0, 0, .05);

    .radar {
      width: 128px;
    }


    ul {

      $black: #010408;

      display: flex;
      align-items: center;
      column-gap: 57px;

      $font-size: clamp(1rem, .4rem + .5vw, 1.5rem);

      li {
        display: inline;

        a {
          color: $black;
          text-decoration: none;
          font-size: $font-size;

          &.current-active {
            color: c.$green;
          }

          svg {
            // vertical-align: middle;
            // margin-left: 4px;
          }
        }

      }
      .search-loupe {
        cursor: pointer;
      }
      .search-bar {
        width: 0;
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, .3);
        font-size: $font-size;
        // margin-right: 8px;
        font-family: inherit;
        outline: none;
        padding-bottom: 4px;
        transition: width .6s cubic-bezier(.04,.82,.68,.99);


        &.active {
          width: 260px;
        }

        &::placeholder {
          color: rgba(0, 0, 0, .2);
          opacity: 1;
        }
      }
      svg {
        cursor: pointer;
        vertical-align: text-bottom;
      }

      .flex {
        display: flex;
        align-items: center;
        column-gap: 8px;
      }

    }
  }

}


main {
  padding: 33px 0 0;
}

