@use '/src/assets/styles/colors' as c;

.marks-card {
  display: flex;
  column-gap: 24px;
  // width: 80%;

  .marks-card-thumbnail {
    width: 187px;
    height: 151px;
    // height: auto;
    object-fit: cover;
    object-position: center;
    border-radius: 4px;
  }

  .marks-card-content {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    color: rgba(0, 0, 0, .6);

    .marks-card-content-title {
      font-weight: 600;
      font-size: 1.2rem;
      // margin-bottom: 16px;

      a {
        color: #010408;
        text-decoration: none;

        &:hover {
          color: c.$marks-color;
        }
      }
    }

    .marks-card-content-body {
      font-size: .9rem;
    }
  }

  // .blue {
  //   &:hover {
  //     color: c.$marks-color !important;
  //   }
  // }

  // .orange {
  //   &:hover {

  //     color: c.$orange !important;
  //   }
  // }
}
