@use "/src/assets/styles/colors" as c;

$sections-margin: 133px;
$titles-bottom-margin: 64px;

// #region Mixins

@mixin section_title($color) {
  color: $color;
  font-size: 2rem;
  font-weight: bold;
  margin-left: 16px;
}

// #endregion

.news-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  column-gap: 55px;
  margin: 0 60px;

  .slider {
    width: 48vw;
    height: 48vw;
    max-width: 960px;
    max-height: 960px;
    border-radius: 7px;
    overflow: hidden;

    .news {
      position: relative;
      // height: 100%;
      color: #fff;

      .news-thumbnail {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top 0 left 50%;
      }
      .abs {
        position: absolute;
        top: 30%;
        left: 8%;
        right: 8%;
        z-index: 1;

        $vertical-spacing: 24px;

        .news-title {
          font-size: clamp(1rem, .75rem + 2vw , 2.5rem);
          color: #fff;
          margin-bottom: $vertical-spacing;
        }

        .flex {
          display: flex;
          align-items: center;
          column-gap: 24px;
        }

        .tag {
          color: #fff;
          background-color: #fff;
          background-color: transparentize(#fff, 0.8);
          display: inline-block;
          padding: 4px 8px;
          border-radius: 4px;
          font-weight: 400;
        }

        .flex {
          margin-bottom: 40px;
        }
        .author-avatar {
          $size: 28px;
          width: $size;
          height: $size;
          border-radius: 50%;
          object-fit: cover;
          vertical-align: middle;
          border: 2px solid #fff;
          margin-right: 6px;
        }

        .clock-icon {
          vertical-align: middle;
          margin-right: 6px;
        }

        .green-button {
          background-color: c.$green;
          color: #fff;
          padding: 16px 28px;
          border-radius: 7px;
          border: none;
          font-family: inherit;
          font-size: 1.05rem;
          cursor: pointer;
          transition: background-color 0.25s ease-out;

          &:hover {
            background-color: darken(c.$green, 5);
          }

          .export-icon {
            vertical-align: sub;
            margin-left: 8px;
          }
        }
      }

      .dark-overlay {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-image:
        linear-gradient(to top, #000 -20%, rgba(0, 0, 0, 0.1) 120%),
          radial-gradient(circle at top right, transparent, rgba(0, 0, 0, 0.8) 100%);
      }
    }
  }

  .more-news {
    // display: none;
    width: 500px;
    // min-height: 700px;
    box-shadow: 0 20px 80px rgba(0, 0, 0, 0.1);
    // background-color: goldenrod;
    border-radius: 7px;
    padding: 20px;
    position: relative;
    flex-shrink: 0;

    .next-link {
      display: block;
      margin: 64px 16px 24px 0;
      text-align: right;
      color: rgba(0, 0, 0, .4);
      text-decoration: none;
      // position: absolute;
      // bottom: 33.5px;
      // right: 32px;
      font-weight: 500;

      svg {
        vertical-align: middle;
        margin-left: 8px;
        color: rgba(0, 0, 0, .6);
      }
    }

    .single-news {
      display: flex;
      column-gap: 1rem;
      align-items: flex-start;

      .single-news-thumbnail {
        width: clamp(6.25rem, 5vw, 7rem);
        height: 100%;
        border-radius: 4px;
        object-fit: cover;
        object-position: center;
      }

      .single-news-text {
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
        row-gap: 24px;

        .single-news-title {
          font-size: clamp(1rem, .5rem + .5vw, 1.5rem);
          font-weight: 600;
        }
      }

    }
    .hr {
      margin: 18px 0;
      border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    }
  }

  // ######### END OF .news-wrapper
}

.black-clock-icon {
  vertical-align: middle;
  margin-right: 4px;
}

.top-news {
  margin: $sections-margin 0;

  .top-news-title {
    margin: 0 0 48px 60px;

    .top-news-title-icon {
      vertical-align: sub;
    }

    .top-news-title-text {
      font-weight: 800;
      display: inline-block;
      margin-left: 16px;
      font-size: 1.85rem;
    }
  }

  .top-news-slideshow {
    display: flex;
    column-gap: 40px;
    // justify-content: center;
    overflow-x: auto;
    padding: 0 24px 24px;

    & > * {
      flex-shrink: 0;
    }

    .top-new {
      width: 30%;
      max-width: 460px;

      .top-new-thumbnail {
        margin-bottom: 4px;
        width: 100%;
        object-fit: cover;
        object-position: center;
      }

      .top-new-details {
        display: flex;
        justify-content: space-between;

        .top-new-title {
          font-size: 0.9rem;
          font-weight: 400;
          width: 60%;
        }

        .top-new-postDate {
          font-size: 0.8rem;
          font-weight: 300;
        }
      }
    }
  }
}
.advertisement-wrapper {
  margin: $sections-margin 0;

  .advertisement-label {
    text-align: center;
    font-size: 0.8rem;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.3);
  }

  .advertisement-label {
    margin-bottom: 8px;
  }

  .advertisement {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9) 30%, transparent),
      url(../../../assets/images/advertisement.jpg);
    background-size: cover;
    background-position: center;
    width: 90%;
    max-width: 1400px;
    height: 275px;
    margin: 0 auto;
    position: relative;

    .advertisement-content {
      position: absolute;
      top: 20%;
      left: 2%;

      .advertisement-content-title {
        color: #fff;
        font-weight: 500;
        width: 80%;
        margin-bottom: 32px;
      }

      .advertisement-cta {
        $cta: #fa6c21;
        border: none;
        border-radius: 7px;
        padding: 14px 20px;
        background-color: $cta;
        color: #fff;
        font-family: inherit;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.2s ease;

        &:hover {
          background-color: darken($cta, 10);
        }
      }
    }
  }
}

@mixin news-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 32px;

  app-news-card,
  app-entertainment-news,
  app-lifestyle-news {
    width: 47%;
  }
}

@mixin shared {
  margin: 164px 60px $sections-margin;
}

.music-news {
  @include shared();
  position: relative;

  .floating-options {
    display: inline-flex;
    align-items: center;
    column-gap: 32px;
    padding: 20px 16px;
    border-radius: 7px;
    box-shadow: 0 20px 80px rgba(0, 0, 0, 0.1);
    width: auto;
    position: absolute;
    top: 0;
    right: 0;

    .see {
      display: flex;
      align-items: center;
      column-gap: 16px;

      span {
        color: rgba(0, 0, 0, 0.3);
      }

      .options {
        display: inline-block;

        & > :first-child {
          margin-right: 8px;
        }
      }
    }
    .see-all {
      color: c.$music-color;
      text-decoration: none;
      font-weight: 500;

      svg {
        vertical-align: middle;
        margin-left: 4px;
        color: transparentize(c.$music-color, .4);
      }
    }
  }

  .music-news-title {
    margin-bottom: $titles-bottom-margin;

    .music-news-title-icon {
      vertical-align: text-top;
    }

    .music-news-title-text {
      @include section_title(c.$music-color);
    }
  }

  .music-news-list {
    @include news-list();
  }
}

.entertainment-news {
  @include shared();
  position: relative;

  .floating-options {
    display: inline-flex;
    align-items: center;
    column-gap: 32px;
    padding: 24px;
    width: auto;
    position: absolute;
    top: 0;
    right: 0;

    .see-all {
      color: c.$entertainment-color;
      text-decoration: none;
      font-weight: 500;

      svg {
        vertical-align: middle;
        margin-left: 4px;
        color: transparentize(c.$entertainment-color, .4);
      }
    }
  }

  .entertainment-news-title {
    margin-bottom: $titles-bottom-margin;

    .entertainment-news-title-icon {
      vertical-align: text-top;
    }

    .entertainment-news-title-text {
      @include section_title(c.$entertainment-color);
    }
  }

  .entertainment-news-list {
    @include news-list();
  }
}

.lifestyle-news {
  @include shared();
  position: relative;

  .floating-options {
    display: inline-flex;
    align-items: center;
    column-gap: 32px;
    padding: 24px;
    width: auto;
    position: absolute;
    top: 0;
    right: 0;

    .see-all {
      color: c.$lifestyle-color;
      text-decoration: none;
      font-weight: 500;

      svg {
        vertical-align: middle;
        margin-left: 4px;
        color: transparentize(c.$lifestyle-color, .4);
      }
    }
  }

  .lifestyle-news-title {
    margin-bottom: $titles-bottom-margin;

    .lifestyle-news-title-icon {
      vertical-align: text-top;
    }

    .lifestyle-news-title-text {
      @include section_title(c.$lifestyle-color);
    }
  }

  .lifestyle-news-list {
    @include news-list();
  }
}

section.marks {
  margin: $sections-margin 60px;
  position: relative;

  .floating-options {
    display: inline-flex;
    align-items: center;
    column-gap: 32px;
    padding: 24px;
    width: auto;
    position: absolute;
    top: 0;
    right: 0;

    .see-all {
      color: c.$marks-color;
      text-decoration: none;
      font-weight: 500;

      svg {
        vertical-align: middle;
        margin-left: 4px;
        color: transparentize(c.$marks-color, .4);
      }
    }
  }

  .marks-title {
    margin-bottom: $titles-bottom-margin;

    .marks-title-text {
      @include section_title(c.$marks-color);
    }

    .marks-title-icon {
      vertical-align: text-top;
    }
  }

  .marks-flex-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 86px;

    .marks-column-1 {
      display: flex;
      flex-direction: column;
      flex-basis: 50%;
      row-gap: 72px;
    }

    .marks-column-2 {

      .ad-text {
        text-align: center;
        color: transparentize(#010408, 0.8);
        font-size: 0.8rem;
        margin-bottom: 16px;
        text-align: center;
        display: block;
      }

      .ads {
        display: grid;
        grid-template-areas:
          "img1 img2"
          "img3 img3";
        // grid-template-rows: auto 156px;
        gap: 40px;
        margin-bottom: 64px;

        .ad {
          border-radius: 7px;
          width: 100%;
          height: 100%;
          max-width: 680px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }

          &:nth-child(1) {
            grid-area: img1;

          }

          &:nth-child(2) {
            grid-area: img2;
          }

          &:nth-child(3) {
            grid-area: img3;
          }


        }

      }

    }
  }
}

.see-all-news-link {
  color: rgba(0, 0, 0, 0.4);
  font-weight: 600;
  text-decoration: none;
  display: block;
  text-align: center;
  margin: $sections-margin 0;

  img {
    vertical-align: text-top;
    margin-left: 4px;
  }
}

section.opinion {
  margin: $sections-margin 60px;
  position: relative;

  .floating-options {
    display: inline-flex;
    align-items: center;
    column-gap: 32px;
    padding: 24px;
    width: auto;
    position: absolute;
    top: 0;
    right: 0;

    .see-all {
      color: c.$opinion-color;
      text-decoration: none;
      font-weight: 500;

      svg {
        vertical-align: middle;
        margin-left: 4px;
        color: rgba(0, 0, 0, .4);
      }

    }
  }

  .opinion-title {
    margin-bottom: $titles-bottom-margin;

    svg {
      vertical-align: text-top;
    }

    .opinion-title-text {
      @include section_title(c.$opinion-color);

    }

    // & ~ * {
    //   margin-right: 60px;
    // }
  }

  .opinion-flex-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 86px;

    .other-opinions-list {
      display: flex;
      flex-direction: column;
      flex-basis: 50%;
      row-gap: 72px;
    }

    .ads {
      display: grid;
      grid-template-areas:
        "img1 img1"
        "img2 img3";
      gap: 40px;

      .ad-1,
      .ad-2,
      .ad-3 {
        background: url(../../../assets/images/african-kid.png) no-repeat;
        background-size: cover;
        background-position: top 0% left 50%;
        border-radius: 7px;
        width: 100%;
        height: 100%;
      }

      [class^="ad-wrapper-"] {
        .ad-text {
          text-align: center;
          color: transparentize(#010408, 0.8);
          font-size: 0.8rem;
          margin-bottom: 4px;
        }
      }

      .ad-wrapper-1 {
        grid-area: img1;
        margin-bottom: 32px;
      }
      .ad-wrapper-2 {
        grid-area: img2;
      }
      .ad-wrapper-3 {
        grid-area: img3;
      }
    }
  }
}

footer {
  background-color: #010408;
  color: #fff;
  padding-bottom: 32px;
  margin-top: 224px;
  $links-font-size: clamp(.7rem, .25rem + .5vw, 1.5rem);

  .footer-flex-container {
    display: flex;
    justify-content: space-between;
    margin: 0 60px;
    padding: 48px 0;
    font-size: $links-font-size;

    .wrapper {
      flex-basis: 30%;
      // font-size: $links-font-size;

      input {
        padding: 16px 20px;
        border: none;
        border-radius: 4px;
        background-color: rgba(255, 255, 255, 0.25);
        font-family: inherit;
        outline: none;
        margin-right: 4px;
        width: 320px;
      }

      .sign-btn {
        background-color: c.$green;
        color: #fff;
        padding: 16px 24px;
        border-radius: 4px;
        font-family: inherit;
        cursor: pointer;

        &:hover {
          background-color: darken(c.$green, 5);
        }
      }
    }

    .footer-title {
      font-weight: 700;
      font-size: 2.2rem;
      margin-bottom: .5rem;
    }

    .footer-text {
      color: rgba(255, 255, 255, 0.6);
      // font-size: 0.8rem;
      font-weight: 300;
      margin-bottom: .5rem;
      font-size: clamp(.7rem, .25rem + .5vw, 1.5rem);
    }

    form {
      display: flex;
      align-items: stretch;
      column-gap: 4px;

      .email-address {
        color: #fff;
        font-weight: 300;
        margin: 0;
        font-size: $links-font-size;
      }

      button {
        border: none;
        font-size: $links-font-size;
      }
    }
  }
  .hr {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  }
  .footer-links {
    margin: 32px 60px 0;
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    font-size: $links-font-size;

    div {
      display: inline-block;

      ul {
        display: inline-flex;
        column-gap: 32px;
        list-style: none;
        margin-right: 50px;

        li {
          a {
            text-decoration: none;
            color: #fff;
          }
        }
      }

      .email-address {
        color: c.$green;
      }
    }

    .social {
      display: inline-flex;
      align-items: center;
      column-gap: 12px;
      font-size: $links-font-size;
    }
  }
  .copyright {
    margin-top: 50px;
    text-align: center;
    font-size: inherit;
    font-size: $links-font-size;
  }
}
