<div class="news-wrapper">
  <app-top-carousel [carouselData]="topCarousel"></app-top-carousel>

  <div class="slider" style="display: none">
    <article class="news">
      <img
        class="news-thumbnail"
        src="assets/images/gilmario.jpg"
        alt="gilmario_vemba"
      />
      <div class="abs">
        <h2 class="news-title">
          Popularidade de Gilmário dispara em Portugal: Artista angolano chega
          ao FOX Comedy
        </h2>
        <div class="flex">
          <div class="tag">#entretenimento</div>

          <app-publishing-details
            authorPhotoPath="assets/images/smilling-1.jpg"
            authorName="@mariano_fonseca"
            since=" - há 5 dias"
            textColor="light"
          ></app-publishing-details>
        </div>

        <button class="read-news green-button">
          Ler notícia
          <img class="export-icon" src="assets/icons/export.png" alt="" />
        </button>
      </div>

      <div class="dark-overlay"></div>
    </article>
  </div>

  <section class="more-news">
    <ng-container *ngFor="let singleNews of sideNews; last as lastItem">
      <div class="single-news">
        <img
          class="single-news-thumbnail"
          [src]="singleNews.thumbnailPath"
          alt=""
        />
        <div class="single-news-text">
          <h5 class="single-news-title">{{ singleNews.title }}</h5>
          <app-publishing-details
            authorName="Mariano Fonseca"
            [postedAt]="singleNews.postedAt"
          ></app-publishing-details>
        </div>
      </div>
      <div class="hr" *ngIf="!lastItem"></div>
    </ng-container>
    <a class="next-link" routerLink="">Próximo
      <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1.5 2L6.5 7L1.5 12" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </a>
  </section>
</div>

<section class="top-news">
  <div class="top-news-title">
    <img
      class="top-news-title-icon"
      src="assets/icons/noticias-em-destaque.png"
      alt=""
    />
    <h2 class="top-news-title-text">Notícias em destaque</h2>
  </div>

  <section class="top-news-slideshow">
    <article *ngFor="let topNew of topNews" class="top-new">
      <img class="top-new-thumbnail" [src]="topNew.thumbnailPath" />
      <div class="top-new-details">
        <div class="top-new-title">{{ topNew.title }}</div>

        <div class="top-new-postDate">
          <span>há {{ topNew.postedAt.toString() | daysFromNow }} dias</span>
        </div>
      </div>
    </article>
  </section>
</section>

<article class="advertisement-wrapper">
  <p class="advertisement-label">Publicidade</p>
  <div class="advertisement">
    <div class="advertisement-content">
      <h2 class="advertisement-content-title">
        As melhores experiências somente no Radar Kianda
      </h2>
      <button class="advertisement-cta">Ir para linha de contacto</button>
    </div>
  </div>
</article>

<section class="music-news">
  <h1 class="music-news-title">
    <img
      src="assets/icons/music.png"
      alt="music-icon"
      class="music-news-title-icon"
    />
    <span class="music-news-title-text">MÚSICA</span>
  </h1>
  <section class="floating-options">
    <div class="see">
      <span>Visualizar</span>
      <div class="options">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M21 9V18C21 18.9428 21 19.4142 20.7071 19.7071C20.4142 20 19.9428 20 19 20H15"
            stroke="#010408"
            stroke-linecap="round"
          />
          <path
            d="M3 9V18C3 18.9428 3 19.4142 3.29289 19.7071C3.58579 20 4.05719 20 5 20H9"
            stroke="#010408"
            stroke-linecap="round"
          />
          <path d="M15 20H9" stroke="#010408" stroke-linecap="round" />
          <path
            d="M3 6C3 5.05719 3 4.58579 3.29289 4.29289C3.58579 4 4.05719 4 5 4H19C19.9428 4 20.4142 4 20.7071 4.29289C21 4.58579 21 5.05719 21 6V9H3V6Z"
            stroke="#010408"
            stroke-linecap="round"
          />
          <path d="M3 15H21" stroke="#010408" stroke-linecap="round" />
        </svg>
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M15 9H21V18C21 18.9428 21 19.4142 20.7071 19.7071C20.4142 20 19.9428 20 19 20H15V9Z"
            stroke="#010408"
            stroke-opacity="0.4"
            stroke-linecap="round"
          />
          <path
            d="M3 9H9V20H5C4.05719 20 3.58579 20 3.29289 19.7071C3 19.4142 3 18.9428 3 18V9Z"
            stroke="#010408"
            stroke-opacity="0.4"
            stroke-linecap="round"
          />
          <rect
            x="9"
            y="9"
            width="6"
            height="11"
            stroke="#999B9C"
            stroke-linecap="round"
          />
          <path
            d="M3 6C3 5.05719 3 4.58579 3.29289 4.29289C3.58579 4 4.05719 4 5 4H19C19.9428 4 20.4142 4 20.7071 4.29289C21 4.58579 21 5.05719 21 6V9H3V6Z"
            stroke="#999B9C"
            stroke-linecap="round"
          />
        </svg>
      </div>
    </div>
    <a routerLink="/news" class="see-all">Ver todas
      <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1.5 2L6.5 7L1.5 12" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </a>
  </section>
  <div class="music-news-list">
      <app-news-card *ngFor="let musicNew of musicNews"
        [title]="musicNew.title"
        [content]="musicNew.content"
        [type]="musicNew.type"
        [thumbnailPath]="musicNew.thumbnailPath"
        [views]="musicNew.views"
        [comments]="musicNew.comments"
        [authorName]="musicNew.authorName"
        [postedAt]="musicNew.postedAt"
      >
      </app-news-card>
  </div>
</section>

<section class="entertainment-news">
  <h1 class="entertainment-news-title">
    <img
      src="assets/icons/entertainment.png"
      alt="entertainment-icon"
      class="entertainment-news-title-icon"
    />
    <span class="entertainment-news-title-text">ENTRETENIMENTO</span>
  </h1>
  <section class="floating-options">
    <a routerLink="/news" class="see-all">Ver todas
      <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1.5 2L6.5 7L1.5 12" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </a>
  </section>
  <div class="entertainment-news-list">
      <app-news-card *ngFor="let entertainmentNew of entertainmentNews"
      [title]="entertainmentNew.title"
      [content]="entertainmentNew.content"
      [type]="entertainmentNew.type"
      [thumbnailPath]="entertainmentNew.thumbnailPath"
      [views]="entertainmentNew.views"
      [comments]="entertainmentNew.comments"
      [authorName]="entertainmentNew.authorName"
      [postedAt]="entertainmentNew.postedAt"
      >
      </app-news-card>
  </div>
</section>

<section class="lifestyle-news">
  <h1 class="lifestyle-news-title">
    <img
      src="assets/icons/lifestyle.png"
      alt="lifestyle-icon"
      class="lifestyle-news-title-icon"
    />
    <span class="lifestyle-news-title-text">LIFESTYLE</span>
  </h1>
  <section class="floating-options">
    <a routerLink="/news" class="see-all">Ver todas
      <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1.5 2L6.5 7L1.5 12" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </a>
  </section>
  <div class="lifestyle-news-list">
      <app-news-card *ngFor="let lifestyleNew of lifestyleNews"
      [title]="lifestyleNew.title"
      [content]="lifestyleNew.content"
      [type]="lifestyleNew.type"
      [thumbnailPath]="lifestyleNew.thumbnailPath"
      [views]="lifestyleNew.views"
      [comments]="lifestyleNew.comments"
      [authorName]="lifestyleNew.authorName"
      [postedAt]="lifestyleNew.postedAt"
      >
      </app-news-card>
  </div>
</section>

<section class="marks">
  <h1 class="marks-title">
    <img
      src="assets/icons/marks.png"
      alt="marks-icon"
      class="marks-title-icon"
    />
    <span class="marks-title-text">MARCAS</span>
  </h1>
  <section class="floating-options">
    <a routerLink="/news" class="see-all">Ver todas
      <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1.5 2L6.5 7L1.5 12" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </a>
  </section>

  <div class="marks-flex-container">
    <div class="marks-column-1">
      <app-news-card *ngFor="let mark of marks"
      [title]="mark.title"
      [content]="mark.content"
      [type]="mark.type"
      [thumbnailPath]="mark.thumbnailPath"
      [views]="mark.views"
      [comments]="mark.comments"
      [authorName]="mark.authorName"
      [postedAt]="mark.postedAt"
      ></app-news-card>
    </div>
    <div class="marks-column-2">
      <p class="ad-text">Publicidade</p>
      <div class="ads">
        <div class="ad">
          <img src="assets/images/black-woman.png" alt="">
        </div>
        <div class="ad">
          <img src="assets/images/guys-jumping.png" alt="">
        </div>
        <div class="ad">
          <img src="assets/images/unknown-1.png" alt="">
        </div>
      </div>
      <app-news-card
        [title]="'Chery chega a Angola para dinamizar vendas do sector automóvel'"
        [content]="'Modernos e com nova propulsão, os “Chery Tiggo Pro” apresentam um design diferenciado e motores de última geração. A gama SUV, representada...'"
        [type]="'Mark'"
        [thumbnailPath]="'assets/images/happy-woman.png'"
        [views]="15"
        [comments]="15"
        authorName="Mariano Fonseca"
      ></app-news-card>
    </div>
  </div>
</section>

<section class="opinion">
  <h1 class="opinion-title">
    <svg width="28" height="29" viewBox="0 0 28 29" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_617_217)">
      <path d="M14 28C21.6589 28 28 21.6452 28 14C28 6.34119 21.6452 0 13.9863 0C6.34119 0 0 6.34119 0 14C0 21.6452 6.35491 28 14 28Z" fill="black"/>
      <path d="M13.7117 16.9372C12.9843 16.9372 12.5726 16.5529 12.5726 15.8117C12.5726 15.7568 12.5726 15.6882 12.5726 15.6333C12.5726 14.2332 13.3412 13.4921 14.3569 12.7784C15.5922 11.9137 16.1824 11.447 16.1824 10.4862C16.1824 9.41563 15.3452 8.68818 14.0686 8.68818C13.1216 8.68818 12.3941 9.15485 11.8862 9.97838L11.6392 10.3215C11.3784 10.6509 11.0628 10.8843 10.5824 10.8843C10.1157 10.8843 9.60785 10.5411 9.60785 9.90975C9.60785 9.66269 9.66276 9.42935 9.73138 9.20975C10.1157 7.90582 11.7079 6.7666 14.151 6.7666C16.5667 6.7666 18.6667 8.01563 18.6667 10.3764C18.6667 12.0784 17.6785 12.9019 16.3059 13.8078C15.3176 14.4528 14.8647 14.9607 14.8647 15.7568C14.8647 15.798 14.8647 15.8667 14.8647 15.9216C14.8647 16.4843 14.4255 16.9372 13.7117 16.9372ZM13.6843 21.151C12.8608 21.151 12.1471 20.4921 12.1471 19.6823C12.1471 18.8725 12.8471 18.2 13.6843 18.2C14.5215 18.2 15.2216 18.8588 15.2216 19.6823C15.2216 20.5058 14.5078 21.151 13.6843 21.151Z" fill="white"/>
      </g>
      <defs>
      <clipPath id="clip0_617_217">
      <rect width="28" height="28.0138" fill="white"/>
      </clipPath>
      </defs>
    </svg>

    <span class="opinion-title-text">OPINIÃO</span>
  </h1>
  <section class="floating-options">
    <a routerLink="/news" class="see-all">Ver todas
      <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1.5 2L6.5 7L1.5 12" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>

    </a>
  </section>

  <app-carousel [carouselData]="opinions"></app-carousel>
</section>


<footer>
  <div class="footer-flex-container">
    <div class="wrapper">
      <h3 class="footer-title">Radar Kianda</h3>
      <p class="footer-text">
        Radar Kianda é um portal de referência em Angola, com os principais
        conteúdos que marcam o universo da informação e do entretenimento.
      </p>
    </div>

    <div class="wrapper">
      <h3 class="footer-title">Newsletter</h3>
      <p class="footer-text">Receba todas as novidades em primeira mão</p>
      <form action="">
        <input
          class="email-address"
          type="text"
          placeholder="Endereço de email"
        />
        <button type="button" class="sign-btn">Assinar</button>
      </form>
    </div>
  </div>
  <div class="hr"></div>
  <section class="footer-links">
    <div>
      <ul>
        <li><a routerLink="">Notícias</a></li>
        <li><a routerLink="">Música</a></li>
        <li><a routerLink="">Entretenimento</a></li>
        <li><a routerLink="">Lifestyle</a></li>
        <li><a routerLink="">Marcas</a></li>
        <li><a routerLink="">Opinião</a></li>
      </ul>
      Contactos: <span class="email-address">contactos@radarkianda.com</span>
    </div>
    <div class="social">
      Siga-nos
      <img src="assets/icons/fb-icon.png" alt="" />
      <img src="assets/icons/insta-icon.png" alt="" />
    </div>
  </section>
  <p class="copyright">
    Copyright © 2022 Radar Kianda. Todos os direitos reservados.
  </p>
</footer>
