@use '/src/assets/styles/colors' as c;

.opinion-big-card {
  display: flex;
  flex-direction: column;
  row-gap: 16px;

  .opinion-big-card-thumbnail {
    width: 100%;
    height: 151px;
    // height: auto;
    object-fit: cover;
    object-position: center;
    border-radius: 4px;
  }

  .opinion-big-card-content {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    color: #000;

    .opinion-big-card-content-title {
      font-weight: 600;
      font-size: 1.2rem;
      // margin-bottom: 16px;

      a {
        color: #010408;
        text-decoration: none;

        &:hover {
          color: c.$marks-color;
        }
      }
    }

    .opinion-big-card-content-body {
      font-size: .9rem;
    }
  }

}
